import {FC} from 'react'
import s  from './{{pascalCase name}}.module.scss'

interface {{pascalCase name}}Props {}

export const {{pascalCase name}}: FC<{{pascalCase name}}Props> = ({}) => {
  return <div className={ s.{{lowerCase name}} }></div>
}